:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgba(0 0 0 /0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  /* min-height: 2000px; */
}

.hiro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/bada1.jpg);
  z-index: -1;
}

.hiro {
  position: relative;
  min-height: 100vh;
}

.hiro h1,
.hiro h4,
.hiro p {
  text-shadow: var(--shadow);
}

.hiro h1 {
  font-family: "sacramento", cursive;
  font-size: 6rem;
}

.hiro h4 {
  font-size: 1.6rem;
}

.hiro p {
  font-size: 1.4rem;
}

.hiro a {
  color: var(--pink);
  background-color: white;
  box-shadow: var(--shadow);
}

.hiro a:hover {
  background-color: var(--pink);
  color: white;
}

/* media query */
/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 70px;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }
}

/* mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .hiro::before {
    background-image: url(img/bada1.jpg);
    object-fit: cover;
    object-position: center;
  }
  .simply-countdown > .simply-section {
    padding: 45px;
    margin: 3px;
  }
}
